<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Crear cliente</a>
            </li>
            <li>
                <a href="">Crear cuenta bancaria</a>
            </li>
            <li>
                <a href="">Listar cuenta clientes</a>
            </li>
            <li>
                <a href="">Solicitar prestamo</a>
            </li>
            <li>
                <a href="">Ver datos del cliente</a>
            </li>
            <li>
                <a href="">Ver tarjeta del cliente</a>
            </li>
            <li>
                <a href="">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="/crearCliente">Signup</a>
            </li>
            <li>
                <a href="/signin">Signin</a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% block content %}

    {% endblock %}
</body>
</html>