<div>
    <h1> Tarjetas del cliente </h1>

    <p>ID: {{cliente.customer_id}}</p>
    <p>Nombre: {{cliente.customer_name}}</p>
    <p>Tarjeta:</p>
    <p>Numero: {{cliente.tarjeta.numero}} </p>
    <p>CVV: {{cliente.tarjeta.cvv}}</p>
    <p>Fecha otorgamiento: {{cliente.tarjeta.fechaotorgamiento}}</p>
    <p>Fecha expiracion: {{cliente.tarjeta.fechaexpiracion}}</p>
    <p>Tipo tarjeta: {{cliente.tarjeta.tipotarjeta}}</p>
    <p>Marca tarjeta : {{cliente.tarjeta.marcatarjeta.marcatarjeta}}</p>

</div>